.main_bg{
    width: 1218px;
    position: absolute;
    top: 10%;
    left: 1.04%;
    height: 490px;
    
}
#heading_bar{
    padding: 15px 27px 49px 35px;
    top: 2%;
    left: 2%;
    right: 2%;
    position: absolute;
    width: 1220px;
    height: 100px;
    background-color: rgba(53,58,64,255);
}
#brand{
    color: yellow;
    position: absolute;
    top: 20%;
    font-size: xx-large;
    font-family: 'Brush Script MT', cursive;
}

#service{
    color:whitesmoke;
    position: absolute;
    top: 30%;
    right: 33%;
    font-family: 'Courier New', Courier, monospace;
    
}
#port{
    color:whitesmoke;
    position: absolute;
    top: 30%;
    right: 23%;
    font-family: 'Courier New', Courier, monospace; 
}
#about{
    color:whitesmoke;
    position: absolute;
    top: 30%;
    right: 17%;
    font-family: 'Courier New', Courier, monospace;
}
#team{
    color:whitesmoke;
    position: absolute;
    top: 30%;
    right: 12%;
    font-family: 'Courier New', Courier, monospace;
}
#contact{
    color:whitesmoke;
    position: absolute;
    top: 30%;
    right: 4%;
    font-family: 'Courier New', Courier, monospace;
}
#welcome_std{
    color: whitesmoke;
    position: absolute;
    top: 240px;
    left: 440px;
    font-size: 200%
}
#nice-meet{
    color: white;
    position: absolute;
    font-size:350%;
    top: 280px ;
    left:300px ;
    font-weight: bolder;

}
#tell-more{
    color: whitesmoke;
    block-size: 12%;
    position: absolute;
    top: 380px;
    left:550px;
    background-color: rgb(252,212,44);

}
#main-service{
    color: black;
    position: absolute;
    top: 650px;
    left: 550px;
    font-size: xx-large;
    font-weight: bold;

}
.checkout-icon{
    position: absolute;
    top: 750px;
    left: 250px;
    
}
#e_commerce{
    color: black;
    position: absolute;
    top: 855px;
    left:250px ;
    font-weight: bold;
}
.lap-icon{
    position: absolute;
    top: 750px;
    left: 570px;
}
#res-design{
    color: black;
    position: absolute;
    top: 855px;
    left: 550px;
    font-weight: bold;
}
.lock-img{
    position: absolute;
    top:750px;
    left: 900px;
}
#privacy{
    color: black;
    position: absolute;
    top:855px;
    left: 900px;
    font-weight:bold;
}
#p-service{
    font-size: small;
    position: absolute;
    top: 885px;
    left: 160px;
}
#lap-service{
    font-size: small;
    position: absolute;
    top: 885px;
    left: 520px;
}
#privacy-service{
    font-size: small;
    position: absolute;
    top: 885px;
    left: 880px;
}
#main-portfolio{
    color: black;
    position: absolute;
    top: 1200px;
    left: 550px;
    font-size: xx-large;
    font-weight: bold;
}
#portfolio-sub{
    position: absolute;
    top: 1250px;
    left: 500px;
}
.shirt-img{
    position: absolute;
    top: 1300px;
    left: 200px;
    width: 200px;
    height: 200px;
}
#threads{
    position: absolute;
    top: 1500px;
    left: 260px;
    font-weight: bold;
    color: black;
}  
#illustration{
    position: absolute;
    top: 1520px;
    left: 255px;
}
.keep-explore{
    position: absolute;
    top: 1300px;
    left: 500px;
    width: 200px;
    height: 200px
}
#explore{
    position: absolute;
    top: 1500px;
    left: 570px;
    font-weight: bold;
    color: black;
}
#graphic-design{
    position: absolute;
    top: 1520px;
    left: 550px;
}
.finish{
    position: absolute;
    top: 1300px;
    left: 800px;
    width: 200px;
    height: 200px
}
#p-finish{
    position: absolute;
    top: 1500px;
    left: 860px;
    font-weight: bold;
    color: black;
}
#identity{
    position: absolute;
    top: 1520px;
    left: 860px;
}
.gadgets{
    position: absolute;
    top: 1600px;
    left: 200px;
    width: 200px;
    height: 200px;
}
#lines{
    position: absolute;
    top: 1800px;
    left: 270px;
    font-weight: bold;
    color: black;
}
#branding{
    position: absolute;
    top: 1820px;
    left: 260px
}
.work-desk{
    position: absolute;
    top: 1600px;
    left: 500px;
    width: 200px;
    height: 200px
}
#south-west{
    position: absolute;
    top: 1800px;
    left: 570px;
    font-weight: bold;
    color: black;
}
#website-design{
    position: absolute;
    top: 1820px;
    left: 550px;
}
.india-gate{
    position: absolute;
    top: 1600px;
    left: 800px;
    width: 200px;
    height: 200px
}
#window{
    position: absolute;
    top: 1800px;
    left: 860px;
    font-weight: bold;
    color: black;
}
#photography{
    position: absolute;
    top: 1820px;
    left: 850px;
}
#main-about{
    color: black;
    position: absolute;
    top: 2000px;
    left: 550px;
    font-size: xx-large;
    font-weight: bold;
}
#about-sub{
    position: absolute;
    top: 2050px;
    left: 470px
}
#date{
    color: black;
    position: absolute;
    top: 2100px;
    left:380px;
    font-size: medium;
    font-weight: bold;
}
#date-text{
    color: black;
    position: absolute;
    top: 2120px;
    left: 300px;
    font-size: medium;
    font-weight: bold;
}
.mountain-icon{
    position: absolute;
    top: 2100px;
    left: 500px;
    width: 100px;
    height: 100px
}
#about-p{
    color: black;
    position: absolute;
    top: 2150px;
    left: 180px;
    font-size: small;
}

.landscape-icon{
    position: absolute;
    top: 2230px;
    left: 490px;
    width: 130px;
    height: 130px
}
#date-2{
    color: black;
    position: absolute;
    top: 2240px;
    right: 550px;
    font-size: medium;
    font-weight: bold;
}
#quote{
    color: black;
    position: absolute;
    top: 2265px;
    right:500px;
    font-size: medium;
    font-weight: bold;

}
#about-p-2{
    color: black;
    position: absolute;
    top: 2290px;
    right:320px;
    font-size: small;
    
}
.about-lap{
    position: absolute;
    top: 2400px;
    left: 515px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}
#date-dec{
    color: black;
    position: absolute;
    top: 2390px;
    left:380px;
    font-size: medium;
    font-weight: bold;
}
#dec-quote{
    color: black;
    position: absolute;
    top: 2414px;
    left:315px;
    font-size: medium;
    font-weight: bold;
}
#lap-pic-quote{
    color: black;
    position: absolute;
    top: 2440px;
    left: 180px;
    font-size: small;
}
.snow-mountain{
    position: absolute;
    top: 2550px;
    left: 515px;
    width: 90px;
    height: 90px
}
#date-july{
    color: black;
    position: absolute;
    top: 2550px;
    right: 550px;
    font-size: medium;
    font-weight: bold;
}
#sub-july{
    color: black;
    position: absolute;
    top: 2575px;
    right:464px;
    font-size: medium;
    font-weight: bold;
}
#july-pic-quote{
    color: black;
    position: absolute;
    top: 2600px;
    right:308px;
    font-size: small;
}
.circle{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 2800px;
    left: 510px;
    background-color: rgb(252,212,44);
}
#circle-text{
    position: absolute;
    top: 2829px;
    left: 550px;
    color: white;
    font-weight: bold;
}
.team-girl-1{
    position: absolute;
    top: 3100px;
    left: 200px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#girl-1-name{
    position: absolute;
    top: 3260px;
    left: 230px;
    font-weight: bold;
    color: black;
}
#designer{
    position: absolute;
    top: 3285px;
    left: 230px;
    font-size: small;
    color: grey;
}
.team-boy-2{
    position: absolute;
    top: 3100px;
    left: 500px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#boy-name{
    position: absolute;
    top: 3260px;
    left: 530px;
    font-weight: bold;
    color: black;
}
#market{
    position: absolute;
    top: 3285px;
    left: 530px;
    font-size: small;
    color: grey;
}
.team-girl-3{
    position: absolute;
    top: 3100px;
    left: 830px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#girl-2-name{
    position: absolute;
    top: 3260px;
    left: 850px;
    font-weight: bold;
    color: black;
}
#developer{
    position: absolute;
    top: 3285px;
    left: 850px;
    font-size: small;
    color: grey;
}
.creative{
    position: absolute;
    top:3500px;
    left: 140px;
}
.design-modo{
    position: absolute;
    top:3500px;
    left: 350px;
}
.envato{
    position: absolute;
    top:3500px;
    left:610px;
}
.themeforest{
    position: absolute;
    top: 3500px;
    left: 850px;
}
.twitter-icon-1{
    position: absolute;
    top: 3302px;
    left: 220px;
    height: 25px;
    width: 25px;
}
.twitter-icon-2{
    position: absolute;
    top: 3302px;
    left: 520px;
    height: 25px;
    width: 25px;
}
.twitter-icon-3{
    position: absolute;
    top: 3302px;
    left: 840px;
    height: 25px;
    width: 25px;
}
.fb-icon-1{
    position: absolute;
    top: 3300px;
    left: 250px;
    height: 30px;
    width: 30px;
}
.fb-icon-2{
    position: absolute;
    top: 3300px;
    left: 550px;
    height: 30px;
    width: 30px;
}
.fb-icon-3{
    position: absolute;
    top: 3300px;
    left: 870px;
    height: 30px;
    width: 30px;
}
.linkedin-icon-1{
    position: absolute;
    top: 3302px;
    left: 285px;
    height: 25px;
    width: 25px;
}
.linkedin-icon-2{
    position: absolute;
    top: 3302px;
    left: 585px;
    height: 25px;
    width: 25px;
}
.linkedin-icon-3{
    position: absolute;
    top: 3302px;
    left: 910px;
    height: 25px;
    width: 25px;
}
.world-map{
    position: absolute;
    top: 3600px;
    left: 40px;
    height: 500px;
    width: 1200px;
}
#map-contact{
    position: absolute;
    top: 3700px;
    left: 530px;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}
#ur-name{
    position: absolute;
    top: 3800px;
    left: 130px;
    color: black;
    height: 45px;
    width: 400px;
}
#Email{
    position: absolute;
    top: 3855px;
    left: 130px;
    color: black;
    height: 45px;
    width: 400px;
}
#Phone{
    position: absolute;
    top: 3915px;
    left: 130px;
    color: black;
    height: 45px;
    width: 400px;
}
#message-box{
    position: absolute;
    top: 3800px ;
    left: 550px;
    height: 160px;
    width: 500px;
    
}
#send-message{
    position: absolute;
    top: 3980px;
    left: 470px;
    background-color: rgb(252,212,44);
    height: 60px;
    color: white;
    font-weight: bold;
    width: 150px;
}
.twitter-icon-4{
    position: absolute;
    top: 4115px;
    left: 480px;
    height: 25px;
    width: 25px;
}
.linkedin-icon-4{
    position: absolute;
    top: 4115px;
    left: 515px;
    height: 23px;
    width: 23px;
}
.fb-icon-4{
    position: absolute;
    top: 4113px;
    left: 545px;
    height: 28px;
    width: 28px;
}
#copyright{
    position: absolute;
    top: 4113px;
    left: 38px;
    color: black;
}
#privacy-policy{
    position: absolute;
    top: 4113px;
    left: 1060px;
    color: rgb(252,212,44); 
    text-decoration: underline;
    font-size: small;
}
#terms{
    position: absolute;
    top: 4113px;
    left: 1150px;
    color: rgb(252,212,44); 
    text-decoration: underline;
    font-size: small;
}